<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header template</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">엔지니어링과제</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
<!--            <ul th:if="authenticated" class="navbar-nav">-->
            <ul sec:authorize="!isAuthenticated()" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/loginForm">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/joinForm">회원가입</a>
                </li>
            </ul>
<!--            <ul class="navbar-nav">-->
            <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/board/saveForm">글쓰기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/updateForm">회원정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
                <li>
<!--                    <span th:text="${session.principal.getUsername()}"></span>-->
                    <span sec:authentication="name"></span>
                    <span>님, 환영합니다.</span>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>
</body>
</html>